@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;
@use '../../partials/fonts' as*;

.vidList{
    padding-top: 40px;
    padding-left: 1rem;
    padding-right: 1rem;

    @include tablet{
        padding-left: 2rem;
        padding-right: 2rem
    }

    &__subheader{
        @include mobile-text-subheader;
        color:$Silver;
        padding-bottom: 40px;

        @include desktab-text-subheader;
    }

    &__container{
        display: flex;
        padding-bottom: 1.5rem;

        @include desktop{
            padding-bottom: 2rem;
        }
    }

    &__img{
        width: 120px;
        height: 70px;
        border-radius: 4px;
        object-fit: cover;
        
    }
    
    &__info-container{
        flex: 1;
        padding-left: 1rem;
    }

    &__title{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        @include mobile-text-subheader;
        font-weight: 600;

        @include tablet{
            @include desktab-text-subheader;
            width: 33%;
        }

        @include desktop{
            -webkit-line-clamp: 3;
            width: 70%;
        }
    }

    &__channel{
        @include mobile-text-subheader;

        @include tablet{
            @include desktab-text-subheader;
        }
    }
}