@use '../../partials/globals' as*;
@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;
@use '../../partials/fonts' as*;


.hero{
    margin: 0;

    &__video{
        height: 183px;
    }

    &__title{
        @include mobile-text-header;
        font-weight: 700;
        margin: 0;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    &-container{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &__channel-container{
        display: flex;
    }

    &__channel{
        @include mobile-text-subheader;
        font-weight: 600;
        padding-right: 0.5rem;
        margin: 0;
    }

    &__timestamp{
        @include mobile-text-subheader;
        color: $Silver;
    }

    &__view-container{
        display: flex;
        padding-top: 2rem;
        padding-bottom: 1.5rem;
        @include mobile-text-subheader;
    }
    
    &__view-icon{
        padding-right: 0.5rem;
    }

    &__like-icon{
        padding-left: 1rem;
        padding-right: 0.5rem;
    }

    &__divider{
        margin: 0;
        color: $Mercury;
    }

    &__description{
        @include mobile-text-paragraph;
        padding-top: 1.5rem;
        padding-bottom: 2.5rem;
        margin: 0;
    }
}