@use '../../partials/fonts' as*;
@use '../../partials/_mixins' as*;
@use '../../partials/_variables' as*;
@use '../../partials/_globals' as*;

html{
    font-family: 'AvenirNextLTPro';
}

.Home{

    @include desktop{

        
        &-container{
            display: flex;
        }
        
        &__left-container{
            width: 75%;
        }

        &__right-contianer{
            
        }
    }
}