
$mobile-width:320px;
$tablet-width:768px;
$desktop-width:1280px;


$Black: #323232;
$Instock-blue: #0095FF;
$Silver: #AFAFAF;
$Instock-blue-dark: #002F5F;
$Brainflix-blue: #0065AD;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;

